html, body {
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $font-primary; 
}

h2 {
    font-size: 50px;
}

li {
    list-style: none;
}

span {
    font-weight: 700;
    display: block;
}

.row {
    width: 1200px;
}

.slick-dots li button:before {
    color: #D8D8D8;
    font-size: 10px;
    line-height: 10px;
    margin-right: 10px;
}

.slick-dots li.slick-active button:before {
    color: #059AC0;
}

.good-call__modal {
    width: 426px;
    height: 465px;
    padding: 45px 88px;
}