.button {
    background-color: #FE5000; 
    border-color: #FEA77F;
    border-radius: 35px;
    color: white;
    font-weight: 500;
    padding: 10px 42px;
}

.secondary {
    background-color: transparent;
    border: 1px solid #FEA77F;
    border-radius: 35px;
    color: $color-International-Orange;
    font-size: 18px;
    padding: 10px 40px;
}