.section--description {
    background-color: #EDF1F2;
    background-image: url( '../img/background-lines.png');
    margin-bottom: 90px;

    &__title {
        margin-bottom: 25px;
        margin-top: 100px;
        color: $color-Emperor;
    }

    &__text {
        color: $color-Dusty-Gray;
        margin-bottom: 38px;
    }

    .button {
        margin-bottom: 101px;
        border-bottom: 2px solid #EDF1F2;
    } 

} //section--description