
.section--how {

    background-color: #EDF1F2;
    background-image: url( '../img/background-lines.png');
    margin-bottom: 121px;
    
    &__icon {
        margin-bottom: 51px;
        margin-top: 100px;
        transform: translateX(50%);
    }
    
    &__title {
        color: $color-Emperor;
        font-size: 30px;
        margin-bottom: 17px;
    }

    &__text {
        color: $color-Dusty-Gray;
        margin-bottom: 98px;
    }

}//section--how
